
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

/*header */

.contenedor{
	background-color: #d9d9d9d9;
	width: 100%;


}
.menu{
	padding: 20px;
	background:#393D49;
	width: 100%;	
	display: flex;
	align-items: center;
	list-style: none;
	font-size: 20px;
	
	

}

.movil{
	font-size: 30px;
	display: none;
}

.top-bar {
width: 100%;	
background-color:#ffff;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;

}
.top-bar a{
	text-decoration: none;
}
.top-bar input{
	justify-content: center;
}

.menu li a{
color:#fff;
text-decoration: none;
padding: 20px;
list-style: none;


}


.searchbar{
	border-radius: 20px;
	justify-content: center;

	transform: tras(-50%, -50%);
}

.login{
	
}


.header{
	flex-direction: column;
}
.top-bar ul {
text-decoration: none;
list-style: none;
display: flex;

}
.top-bar li{
margin: 0px 5px;
font-size: 20px;

}
.top-bar a{
	color: #000000;
}



/* header */






/* main  */





.titulo {
	margin: 20px;
text-align: center;
font-family:'Open Sans' ;

}

.content {
	width: 100%;
	max-width: 1100px;
	border: 20px;
	margin: auto;
	text-align: center;
	background-color: #fff;
	padding: 20px;
}

.content a{
	color: #000000;
	text-decoration: none;
}
.content{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px;
	
}

.content a:hover{
	background-color: #f0f1f3;
}
.content-2{
	width: 100%;
	max-width: 1100px;
	border: 10px;
	margin: auto;
	text-align: center;
	background-color: #fff;
	padding: 20px;
}
.content-2 a{
	color: #000000;
	text-decoration: none;
}
.content-2{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
}
.content-2 a:hover{
	background-color: #f0f1f3;
}

/*novel-list*/
.main-top{

	width: 100%;
	max-width: 600px;
	background-color: #fff;
	margin: auto;
	text-align: center;
	text-decoration: none;
	
}
.main-top{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 30px;
	border-radius: 20px;

}
.genres{
	display: flex;
	margin: 10px;
}
.status{
	display: flex;
	margin: 10px;
	
}
.time{
	display: flex;
	margin: 10px;
}
.main-top a{
	margin-left: 5px;
	text-decoration: none;
	color: #000000;
}
.main-top ul{
	list-style: none;
}




.main{

	width: 100%;
	max-width: 1000px;
	margin: auto;
	
	
	
}
.main{
	display: grid;
	grid-template-columns: repeat(1 ,1fr);
	grid-gap: 20px;
	
}

.main a{
	position: absolute;
	bottom: top;
	text-decoration: none;
	color: #000000;
}
.main a:hover{
	background-color: #f0f1f3;
}

.card{
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
	

}
.text{
	
	text-align: justify;
	

}


/* about-us*/



.us{
width: 100%;
margin: auto;
margin-top: 50px;
padding: 40px;
padding-bottom: 300px;
max-width: 800px;
background-color: #fff;
text-align: center;
justify-content: center;


}

.us p{
justify-content: center;

}
/*footer*/

.footer{
width: 100%;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;

}

.footer ul{
	display: flex;
list-style: none;
	
}

.footer a{
	padding: 5px;
	
 
}
.footer li{
	padding: 5px;
}


@media (max-width: 1024px ) {


/*home*/
/*main */
.content{
width: 100%;
max-width: 900px;

}

.content-2{
	width: 100%;
	max-width: 900px;
}
	
}

@media (max-width: 768px ){



/*home*/
/*main*/

.content{

	width: 100%;
	max-width:600px ;
}
.content{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 30px;
	
}

.content-2{
	width: 100%;
	max-width:600px ;
}

.content-2{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 30px;
}

}

@media (max-width: 425px ){

	.content{

		width: 100%;
		max-width:250px ;
	}
	.content{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-gap: 30px;
		
	}
	
	.content-2{
		width: 100%;
		max-width:250px ;
	}
	
	.content-2{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-gap: 30px;
	}
	
	


}
/*Novel-list*/

@media (max-width: 1024px ){

.card{
width: 100%;
max-width: 900px;
}

}

@media (max-width: 768px ){


	.main{

		width: 100%;
		max-width: 600px;
		margin: auto;
		padding: 10px;	
	}
	.card{
		width: 100%;
		max-width: 600px;
		margin-bottom: 15px;
		
		}
}
@media (max-width: 600px ){

	.main-top ul{

		flex-wrap: wrap;
	}
}

@media (max-width: 425px ){

	.main-top{

		width: 100%;
		max-width: 300px;
		background-color: #fff;
		margin: auto;
		
	
	}
	.main-top ul{

		flex-wrap: wrap;
	}


}