/*abous-us*/
main{
    overflow: scroll;
    .us{
        width: 100%;
        height: 50%;
        margin: auto;
        margin-top: 40px;
        padding: 40px;
        max-width: 800px;
        background-color: #fff;
        text-align: center;
        justify-content: center;
        
        p{
            justify-content: center;
            
            }
        }

}
